<hr>
<p style="padding-left: 30%;font-weight: bold;">Registration Number:122567,  Marks/CGPA Secured: 500/600, Percentage(%): 85</p>
<table class="table table-bordered">
    <thead>
      <tr>
        <td  colspan="8" scope="col" class="tablecenter">Application Details</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Course</td>
        <td>{{this.aplCourse}}</td>
        <td colspan="6" rowspan="5"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXICMWsyXFsI_eTy59ikgzZnTHw_L3hoY-_A&usqp=CAU"></td>
      </tr>
      <tr>
        <td>Category</td>
        <td>SC</td>
      </tr>
      <tr>
        <td>Admission Type</td>
        <td>Paid</td>
      </tr>
      <tr>
        <td>Hostel Applicant</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>Subjects</td>
        <td>ASSAMESSE, ENGLISH, ECONONOMICS,POL SCIENSE, SOCIOLOGY</td>
      </tr>
      <tr>
        <td colspan="8" class="tablecenter">Personal Details</td>
      </tr>
      <tr>
        <td>Candidate Name</td>
        <td>{{fullname}}</td>
        <td>Date of Birth</td>
        <td colspan="5">19/09/1992</td>
      </tr>
      <tr>
        <td>Nationality</td>
        <td>Indian</td>
        <td>Gender</td>
        <td colspan="5">Male</td>
      </tr>
      <tr>
        <td>Blood Group</td>
        <td>O+</td>
        <td>Religion</td>
        <td colspan="5">Hinduism</td>
      </tr>
      <tr>
        <td>Category</td>
        <td>SC</td>
        <td>Phone Number</td>
        <td colspan="5">9854000987</td>
      </tr>
      <tr>
        <td colspan="8" class="tablecenter">Parents/Guardian's Details</td>
      </tr>
      <tr>
        <td>Father's Name</td>
        <td>John Legend</td>
        <td>Mother's Name</td>
        <td colspan="5">Tina Sugiarto</td>
      </tr>
      <tr>
        <td>Guardian's Name</td>
        <td>Mr Guardian</td>
        <td>Local Guardian's Name</td>
        <td colspan="5">Mr Local Guardian</td>
      </tr>
      <tr>
        <td>Guardian's Phone Number</td>
        <td>99999999999</td>
        <td>Guardian's Occupation</td>
        <td colspan="5">Govt Job</td>
      </tr>
      <tr>
        <td>Guardians Annual Income</td>
        <td>5000000</td>
        <td>Local Guardian's Address</td>
        <td colspan="5">Dispur,Guwahati,784001 </td>
      </tr>
      <tr>
        <td colspan="8" class="tablecenter">Permanent Address</td>
      </tr>
      <tr>
        <td>Address</td>
        <td>Dispur,Guwahati,784001</td>
        <td>Pincode</td>
        <td colspan="5">78400</td>
      </tr>
      <tr>
        <td>District</td>
        <td>Kamrup</td>
        <td>State</td>
        <td colspan="5">Assam</td>
      </tr>
      <tr>
        <td colspan="8" class="tablecenter">Correspondent Address</td>
      </tr>
      <tr>
        <td>Address</td>
        <td>Dispur,Guwahati,784001</td>
        <td>Pincode</td>
        <td colspan="5">78400</td>
      </tr>
      <tr>
        <td>District</td>
        <td>Kamrup</td>
        <td>State</td>
        <td colspan="5">Assam</td>
      </tr>
      <tr>
        <td colspan="8" class="tablecenter">Academic Qualification</td>
      </tr>
      <tr>
        <td>Qualification</td>
        <td>Board/University</td>
        <td>Institution</td>
        <td>Totall Marks</td>
        <td>Marks Obtained</td>
        <td>Pc</td>
        <td>Roll No.</td>
        <td>Year</td>
      </tr>
      <tr>
        <td>HSLC</td>
        <td>SEBA</td>
        <td>Kamrup Govt School</td>
        <td>600</td>
        <td>500</td>
        <td>85</td>
        <td>abc1345</td>
        <td>2023</td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td colspan="8" class="tablecenter">Last Exam Marks</td>
      </tr>
      <tr>
        <td>MIl</td>
        <td>English</td>
        <td>Elective</td>
        <td>General Maths</td>
        <td>Social Science</td>
        <td colspan="3">General Science</td>
      </tr>
      <tr>
        <td>90</td>
        <td>90</td>
        <td>90</td>
        <td>87</td>
        <td>83</td>
        <td colspan="3">90</td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td colspan="8" class="tablecenter">Documents Uploaded</td>
      </tr>
      <tr>
        <td colspan="8">CASTE CERTIFICATE, BANKPASSBOOK, HS MARKSHEET, INCOME CERTIFICATE</td>
      </tr>
    </tbody>
  </table>
  <p style="padding-top: 6%; padding-bottom: 2%;">I hereby declare that the details furnished above are true and commit to the best of my knowledge and belief.</p>