<br>
<br>
<h3>Applicant: Enter Document Proof</h3>
<form (submit)="onUpload()">
  <label for="image">Enter your registration id:</label>
  <input  [(ngModel)]="registrationId" name="registrationId" placeholder="Enter your registrationid">
    <br>
    <br>
    <label for="image">Select an image:</label>
    <input type="file" name="image" (change)="loadImage($event)">
    <br>
    <br>
    <label for="image">Upload Data Type&nbsp;&nbsp;</label>
    <mat-form-field >
      <mat-label>Upload Data Type</mat-label>
      <br>
      <mat-select name="gender" [(ngModel)]="applicantUploadType">
          <mat-option value="profile" >Profile Image</mat-option>
          <mat-option value="education">Certificates</mat-option>
          <mat-option value="income">Income Certificate</mat-option>
        </mat-select>
    </mat-form-field>
    <br>

    <button type="submit">
      Upload
    </button>
</form>

<br>
<br>