
<div class="container">
<div class = "row mx-auto">
    <div class = "col-md-10">
        <h2 mat-dialog-title>Edit Course {{data.courseName}}</h2>
    </div>
</div>

<div class="form-group row mt-4">
    <label for="colFormLabelLg" class="col-sm-2 col-form-label">Course ID</label>
    <div class="col-sm-10">
        <input  class="form-control form-control-lg" id="courseId" placeholder="Enter the course Id" [(ngModel)]="data.courseId">
    </div>
</div>

<div class="form-group row mt-4">
    <label for="colFormLabelLg" class="col-sm-2 col-form-label">Course Name</label>
    <div class="col-sm-10">
        <input class="form-control form-control-lg" id="courseName" placeholder="Enter the course name" [(ngModel)]="data.courseName">
    </div>
</div>

<div class="row">
    <div class="col-sm">
        <mat-form-field>
            <mat-label>Select your stream</mat-label>
            <mat-select id="courseType" [(ngModel)]="data.courseType" name="courseType">
                <mat-option value="HS">HS</mat-option>
                <mat-option value="GRADUATION">Graduation</mat-option>
                <mat-option value="MASTERS">Masters</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

  <div mat-dialog-actions class="mt-3 ml-4">
    <button mat-button class = "btn btn-danger" (click) = onNoClick()>Cancel</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
</div>