<mat-toolbar color="primary" class="example-toolbar">
  <span class="fill-remaining-space">
    <button mat-icon-button (click)="isExpanded = !isExpanded">
      <mat-icon>menu</mat-icon>
    </button>
  </span>
  <span class="text-left">{{ appTitle }}</span>
  <span class="text-end">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item>
        <mat-icon>people_outline</mat-icon>
        <span>Jeevan</span>
      </button>
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </span>

  <!-- <div class="row">
    <div class="column">
      <button mat-icon-button (click)="isExpanded = !isExpanded">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="column">
      <h1>{{ appTitle }}</h1>
    </div>
    <div class="column" style="align-items: flex-end">
      <button mat-icon-button>
        <mat-icon>person</mat-icon>
      </button>
    </div>
  </div> -->
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true">
    <mat-nav-list>
      <mat-list-item class="menu-item">
        <div class="row">
          <div class="column">
            <mat-icon mat-list-icon>home</mat-icon>
          </div>
          <div class="column" *ngIf="isExpanded || isShowing">
            <span class="full-width">Home</span>
          </div>
        </div>
        <!-- <mat-icon mat-list-icon>home</mat-icon>
        <span class="full-width" *ngIf="isExpanded || isShowing">Home</span> -->
      </mat-list-item>
      <mat-list-item class="menu-item">
        <div class="row">
          <div class="column">
            <mat-icon mat-list-icon>folder</mat-icon>
          </div>
          <div class="column" *ngIf="isExpanded || isShowing">
            <span class="full-width">Folder</span>
          </div>
        </div>
        <!-- <mat-icon mat-list-icon>folder</mat-icon>
        <span class="full-width" *ngIf="isExpanded || isShowing">Folder</span> -->
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <div class="example-sidenav-content">
    <app-root></app-root>
  </div>
</mat-sidenav-container>
