


<!-- Editable table -->
<div class="card">
    <div class="card-body">
      <div id="table">
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <thead>
            <tr>
              <th class="text-center">Course</th>
              <th class="text-center">Board/University</th>
              <th class="text-center">Roll No</th>
              <th class="text-center">Percentage/CGPA</th>
              <th class="text-center">Division</th>
              <th class="text-center">Passing Year</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="pt-3-half">
                <div class="form-outline">
                  <input type="text" placeholder="Metriculation" class="form-control" formControlName="aplLastElec4Mrk" (change)="getPercantage()"/>
                </div>
              </td>
              <td class="pt-3-half">

              </td>
              <td class="pt-3-half">

              </td>
              <td class="pt-3-half">

              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Editable table -->