<hr>
<h3 style="padding-left: 30%;font-weight: bold;">{{collegeName}}</h3>
<p style="padding-left: 30%;font-weight: bold;">Registration Number:122567,  Marks/CGPA Secured: 500/600, Percentage(%): 85</p>
<table class="table table-bordered">
    <thead>
      <tr>
        <td  colspan="8" scope="col" class="tablecenter">Application Details</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Course</td>
        <td>{{this.aplCourse}}</td>
        <td colspan="6" rowspan="5"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXICMWsyXFsI_eTy59ikgzZnTHw_L3hoY-_A&usqp=CAU"></td>
      </tr>
      <tr>
        <td>Category</td>
        <td>{{stdCaste}}</td>
      </tr>
      <tr>
        <td>Admission Type</td>
        <td>{{aplAdmTyp}}</td>
      </tr>
      <tr>
        <td>Hostel Applicant</td>
        <td>{{aplHstl}}</td>
      </tr>
      <tr>
        <td>Subjects</td>
        <td>{{aplCmpSub}}, {{aplMilSub}}, {{aplElecSub1}},{{aplElecSub2}}, {{aplElecSub3}}, {{aplElecSub4}}</td>
      </tr>
      <tr>
        <td colspan="8" class="tablecenter">Personal Details</td>
      </tr>
      <tr>
        <td>Candidate Name</td>
        <td>{{fullname}}</td>
        <td>Date of Birth</td>
        <td colspan="5">{{dBirth}}</td>
      </tr>
      <tr>
        <td>Nationality</td>
        <td>{{stdNatlty}}</td>
        <td>Gender</td>
        <td colspan="5">{{gender}}</td>
      </tr>
      <tr>
        <td>Blood Group</td>
        <td>{{bGroup}}</td>
        <td>Religion</td>
        <td colspan="5">{{religion}}</td>
      </tr>
      <tr>
        <td>Category</td>
        <td>{{stdCaste}}</td>
        <td>Phone Number</td>
        <td colspan="5">{{stdPhnNumber}}</td>
      </tr>
      <tr>
        <td colspan="8" class="tablecenter">Parents/Guardian's Details</td>
      </tr>
      <tr>
        <td>Father's Name</td>
        <td>{{aplFatNam}}</td>
        <td>Mother's Name</td>
        <td colspan="5">{{aplMotNam}}</td>
      </tr>
      <tr>
        <td>Guardian's Name</td>
        <td>Mr Guardian</td>
        <td>Local Guardian's Name</td>
        <td colspan="5">{{aplLclGuardNam}}</td>
      </tr>
      <tr>
        <td>Guardian's Phone Number</td>
        <td>{{aplGuardPhn}}</td>
        <td>Guardian's Occupation</td>
        <td colspan="5">{{aplGuardOcp}}</td>
      </tr>
      <tr>
        <td>Guardians Annual Income</td>
        <td>{{aplGuardInc}}</td>
        <td>Local Guardian's Address</td>
        <td colspan="5">{{aplLclGuardAdd}}</td>
      </tr>
      <tr>
        <td colspan="8" class="tablecenter">Permanent Address</td>
      </tr>
      <tr>
        <td>Address</td>
        <td>{{aplPerAdd}}</td>
        <td>Pincode</td>
        <td colspan="5">{{aplPerPin}}</td>
      </tr>
      <tr>
        <td>District</td>
        <td>{{aplPerDist}}</td>
        <td>State</td>
        <td colspan="5">{{aplPerSta}}</td>
      </tr>
      <tr>
        <td colspan="8" class="tablecenter">Correspondent Address</td>
      </tr>
      <tr>
        <td>Address</td>
        <td>{{aplCorAdd}}</td>
        <td>Pincode</td>
        <td colspan="5">{{aplCorPin}}</td>
      </tr>
      <tr>
        <td>District</td>
        <td>{{aplCorDist}}</td>
        <td>State</td>
        <td colspan="5">{{aplCorSta}}</td>
      </tr>
      <tr>
        <td colspan="8" class="tablecenter">Academic Qualification</td>
      </tr>
      <tr >
        <td>Qualification</td>
        <td>Board/University</td>
        <td>Institution</td>
        <td *ngIf= "applStream == 'HS' || applStream == 'graduation'">Totall Marks</td>
        <td *ngIf= "applStream == 'HS' || applStream == 'graduation'">Marks Obtained</td>
        <td>Pc</td>
        <td>Roll No.</td>
        <td>Passing Year</td>
      </tr>
      <tr>
        <td>HSLC</td>
        <td>SEBA</td>
        <td >{{aplLastCol}}</td>
        <td *ngIf= "applStream == 'HS' || applStream == 'graduation'">600</td>
        <td *ngIf= "applStream == 'HS' || applStream == 'graduation'">{{this.total_marks}}</td>
        <!-- Percentage -->
        <td *ngIf= "applStream == 'HS' || applStream == 'graduation'">{{aplLstExmPcObt}}</td>
        <td *ngIf= "applStream == 'master'">{{aplGradExmPcObt}}</td>
        <!-- Roll -->
        <td *ngIf= "applStream == 'HS'">{{metriculation_table.roll}}</td>
        <td *ngIf= "applStream == 'graduation' && hs_table !== undefined">{{hs_table.roll}}</td>
        <td *ngIf= "applStream == 'master' && graduation_table !== undefined">{{graduation_table.roll}}</td>
        <!-- pass Year -->
        <td *ngIf= "applStream == 'HS'">{{metriculation_table.passYear}}</td>
        <td *ngIf= "applStream == 'graduation' && hs_table !== undefined">{{hs_table.passYear}}</td>
        <td *ngIf= "applStream == 'master' && graduation_table !== undefined">{{graduation_table.passYear}}</td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td colspan="8" class="tablecenter">Last Exam Marks</td>
      </tr>
      <tr>
        <td>English</td>
        <td>{{aplLastMilSub}}</td>
        <td>{{aplLastElecSub1}}</td>
        <td>{{aplLastElecSub2}}</td>
        <td>{{aplLastElecSub3}}</td>
        <td colspan="3">{{aplLastElecSub4}}</td>
      </tr>
      <tr>
        <td>{{aplLastEngMrk}}</td>
        <td>{{aplLastMilMrk}}</td>
        <td>{{aplLastElec1Mrk}}</td>
        <td>{{aplLastElec2Mrk}}</td>
        <td>{{aplLastElec3Mrk}}</td>
        <td colspan="3">{{aplLastElec4Mrk}}</td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td colspan="8" class="tablecenter">Documents Uploaded</td>
      </tr>
      <tr>
        <td colspan="8">CASTE CERTIFICATE, BANKPASSBOOK, HS MARKSHEET, INCOME CERTIFICATE</td>
      </tr>
    </tbody>
  </table>
  <p style="padding-top: 6%; padding-bottom: 2%;">I hereby declare that the details furnished above are true and commit to the best of my knowledge and belief.</p>