.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
h1{
  margin-left: 1rem;
}
mat-toolbar{
  height: 40px;
  background-color: #3f51b5;
  //justify-content: space-between;
  .mat-icon{
    //color: #3f51b5;
    color: white;
  }
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.example-container {
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

  .example-sidenav-content {
   margin-left: 0.5rem;
   margin-top: 0.5rem;
  }
//   .example-sidenav-content {
//     display: flex;
//     /* height: 60%; */
//     align-items: center;
//     justify-content: center;
//   }
.example-sidenav {
  user-select: none;
}

.full-width {
   width: 60%;
}

a > mat-icon {
  color: black;
  margin-right: 10px;
  transition: transform 0.2s ease-in-out; 
}
a:hover mat-icon {
  color: #3f51b5;
  transform: scale(1.2); 
}