:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
.container {
  /* background-color:slategray; */
}
.container-fluid{
  overflow: hidden;
  /* padding: 2%; */
  }