
<div class="container">
    <form class="form-container" (ngSubmit)="register()">
    <h2>Student Details</h2>
    <div class="row">
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput [(ngModel)]="fName" name="fName">
              </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Middle Name</mat-label>
                <input matInput [(ngModel)]="mName" name="mName">
              </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput [(ngModel)]="lName" name="lName">
              </mat-form-field>
        </div>

        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="dBirth" name="dBirth">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Gender</mat-label>
                <mat-select [(ngModel)]="gender" name="gender">
                    <mat-option value="male">MALE</mat-option>
                    <mat-option value="female">FEMALE</mat-option>
                    <mat-option value="transgender">TRANSGENDER</mat-option>
                  </mat-select>
              </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Caste</mat-label>
                <input matInput [(ngModel)]="stdCaste" name="student_caste">
              </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Blood Group</mat-label>
                <input matInput [(ngModel)]="bGroup" name="bGroup">
              </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input matInput [(ngModel)]="stdPhnNumber" name="student_phone">
              </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="stdEmail" name="email">
                </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Religion</mat-label>
                <mat-select [(ngModel)]="religion" name="religion">
                    <mat-option value="HINDU">HINDU</mat-option>
                    <mat-option value="MUSLIM">MUSLIM</mat-option>
                    <mat-option value="SIKH">SIKH</mat-option>
                  </mat-select>
              </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Nationality</mat-label>
                <mat-selecton [(ngModel)]="stdNatlty" name="nationality">
                    <mat-option value="INDIA">INDIA</mat-option>
                    <mat-option value="NEPAL">NEPAL</mat-option>
                    <mat-option value="CHINA">CHINA</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md">
        <mat-form-field appearance="outline">
            <mat-label>Whether study discontinued, if yes mention</mat-label>
            <mat-select [(ngModel)]="stdBreak" name="student_break">
                <mat-option value="YES">YES</mat-option>
                <mat-option value="NO">NO</mat-option>
            </mat-select>
            <!-- <textarea matInput></textarea> -->
          </mat-form-field>
        </div>
        <div class="form-group" *ngIf="disability === 'yes'">
            <mat-label>Reason for Study Gap</mat-label>
            <textarea [(ngModel)]="stdGapRsn" name="stdudent_gap_reason"></textarea>
          </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <mat-form-field appearance="outline">
                <mat-label>Person with Disability</mat-label>
                <mat-select [(ngModel)]="stdDisability" name="stdudent_disability">
                    <mat-option value="YES" >Yes</mat-option>
                    <mat-option value="NO">No</mat-option>
                  </mat-select>
              </mat-form-field>
        </div>
        <div class="form-group" *ngIf="disability === 'yes'">
            <mat-label>Mention the disability</mat-label>
            <textarea class="form-control" [(ngModel)]="stdDisabilityDet" name="stdudent_disability_details"></textarea>
          </div>
        <div class="col-lg-6">
            <mat-form-field appearance="outline">
                <mat-label>Distance From Home To College</mat-label>
                <input matInput  [(ngModel)]="disToColl" name="distance_college">
              </mat-form-field>
        </div>
    </div>
    
    <br><br>
    <h2>Application Details</h2>
    <div class="row">
        
        <mat-label>BA</mat-label>
        
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Select Category</mat-label>
                <mat-select [(ngModel)]="aplCaste" name="applicant_caste">
                    <mat-option value="OBC">OBC</mat-option>
                    <mat-option value="GENERAL">GENERAL</mat-option>
                    <mat-option value="ST">ST</mat-option>
                    <mat-option value="SC">SC</mat-option>
                </mat-select>
                </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Applying for Hostel</mat-label>
                <mat-select  [(ngModel)]="aplHstl" name="applicant_hostel">
                    <mat-option value="YES">YES</mat-option>
                    <mat-option value="NO">NO</mat-option>
                </mat-select>
                </mat-form-field>
        </div>
        
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Admission Type</mat-label>
                <mat-select [(ngModel)]="aplAdmTyp" name="aplAdmTyp">
                <mat-option value="FREE">FREE</mat-option>
                <mat-option value="PAID">PAID</mat-option>
                </mat-select>
                </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Compulsory Subject</mat-label>
                <mat-select [(ngModel)]="aplCmpSub" name="applicant_cmp_sub">
                <mat-option value="ENGLISH">ENGLISH</mat-option>
                <mat-option value="ASSAMESSE">ASSAMESSE</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>MIL Subject</mat-label>
                <mat-select [(ngModel)]="aplMilSub" name="applicant_mil_sub">
                    <mat-option value="MIL1">MIL1</mat-option>
                    <mat-option value="MIL2">MIL2</mat-option>
                  </mat-select>
              </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Major Honours Choice 1</mat-label>
                <mat-select [(ngModel)]="aplHnrSub1" name="applicant_honr_sub_1">
                    <mat-option value="HNR1">HNR1</mat-option>
                    <mat-option value="HNR2">HNR2</mat-option>
                    <mat-option value="HNR3">HNR3</mat-option>
                  </mat-select>
              </mat-form-field>
        </div>
        <div class="col-sm">
              <mat-form-field appearance="outline">
                <mat-label>Major Honours Choice 2</mat-label>
                <mat-select [(ngModel)]="aplHnrSub2" name="applicant_honr_sub_2">
                    <mat-option value="HNR1">HNR1</mat-option>
                    <mat-option value="HNR2">HNR2</mat-option>
                    <mat-option value="HNR3">HNR3</mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
        <div class="col-sm">
              <mat-form-field appearance="outline">
                <mat-label>Major Honours Choice 3</mat-label>
                <mat-select [(ngModel)]="aplHnrSub3" name="applicant_honr_sub_3">
                    <mat-option value="HNR3">HNR1</mat-option>
                    <mat-option value="HNR2">HNR2</mat-option>
                    <mat-option value="HNR3">HNR3</mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
        <div class="col-sm">
              <mat-form-field appearance="outline">
                <mat-label>Elective/Generic Elective</mat-label>
                <mat-select [(ngModel)]="aplElecSub" name="applicant_elec_sub">
                    <mat-option value="ELEC1">ELEC1</mat-option>
                    <mat-option value="ELEC2">ELEC2</mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
    </div>

    <h2>Last Examination Marks</h2>
    <div class="row">
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Total Marks in Last Exam(Excluding Additional Subject)</mat-label>
                <input matInput [(ngModel)]="aplLstExmTotMark" name="applicant_lastexam_tot_marks">
              </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Total Marks Obtained in Last Exam</mat-label>
                <input matInput [(ngModel)]="aplLstExmMarkObt" name="applicant_lastexam_obt_marks">
              </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Percantage of Total Marks</mat-label>
                <input matInput [(ngModel)]="aplLstExmPcObt" name="applicant_lastexam_obt_percent">
              </mat-form-field>
        </div>
    </div>


    
    <h2>Parent/Guardian's Details</h2>
    <div class="row">
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Enter Gurdian's Name</mat-label>
                <input matInput [(ngModel)]="aplGuardNm" name="applicant_guardian_name">
              </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Enter Guardian's Phone Number</mat-label>
                <input matInput [(ngModel)]="aplGuardPhn" name="applicant_guardian_phn">
              </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Enter Guardian's Occupation</mat-label>
                <input matInput [(ngModel)]="aplGuardOcp" name="applicant_guardian_ocuptn">
              </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Enter Guardian's Income</mat-label>
                <input matInput [(ngModel)]="aplGuardInc" name="applicant_guardian_inc">
              </mat-form-field>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Enter father's Name</mat-label>
                <input matInput [(ngModel)]="aplFatNam" name="applicant_father_name">
              </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Enter mother's Name</mat-label>
                <input matInput [(ngModel)]="aplMotNam" name="applicant_mother_name">
              </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Enter local guardian's Name</mat-label>
                <input matInput [(ngModel)]="aplLclGuardNam" name="applicant_lguardian_name">
              </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Enter local guardian's address</mat-label>
                <input matInput [(ngModel)]="aplLclGuardAdd" name="applicant_lguardian_address">
              </mat-form-field>
        </div>
    </div>   
    <br><br>
    <h2>Permanent Address Details</h2>
    <div class="row">
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <input matInput [(ngModel)]="aplElecSub" name="applicant">
                </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Enter Guardian's Phone Number</mat-label>
                <input matInput [(ngModel)]="aplElecSub" name="applicant">
                </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Locality</mat-label>
                <input matInput [(ngModel)]="aplElecSub" name="applicant">
                </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Enter Police Station</mat-label>
                <input matInput [(ngModel)]="aplElecSub" name="applicant">
                </mat-form-field>
        </div>
        <div class="col-lg-6">
            <mat-form-field appearance="outline">
                <mat-label>Select State</mat-label>
                <mat-select>
                    <mat-option value="one">ASSAM</mat-option>
                    <mat-option value="two">ARUNACHAL</mat-option>
                    <mat-option value="two">MEGHALAYA</mat-option>
                    </mat-select>
                </mat-form-field>
        </div>
        <div class="col-lg-6">
            <mat-form-field appearance="outline">
                <mat-label>Select District</mat-label>
                <mat-select>
                    <mat-option value="one">TEZPUR</mat-option>
                    <mat-option value="two">NORTH LAKHIMPUR</mat-option>
                    </mat-select>
                </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Enter Pincode</mat-label>
                <input matInput [(ngModel)]="aplElecSub" name="applicant">
                </mat-form-field>
        </div>
    </div>

    <br><br>
    <h2>Correspondance Address Details</h2>
    <mat-checkbox class="example-margin">Same as Permanent Address</mat-checkbox>
    <div class="row">
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <input matInput [(ngModel)]="aplElecSub" name="applicant">
                </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Enter Guardian's Phone Number</mat-label>
                <input matInput [(ngModel)]="aplElecSub" name="applicant">
                </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Locality</mat-label>
                <input matInput [(ngModel)]="aplElecSub" name="applicant">
                </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Enter Police Station</mat-label>
                <input matInput [(ngModel)]="aplElecSub" name="applicant">
                </mat-form-field>
        </div>
        <div class="col-lg-6">
            <mat-form-field appearance="outline">
                <mat-label>Select State</mat-label>
                <mat-select>
                    <mat-option value="one">ASSAM</mat-option>
                    <mat-option value="two">ARUNACHAL</mat-option>
                    <mat-option value="two">MEGHALAYA</mat-option>
                    </mat-select>
                </mat-form-field>
        </div>
        <div class="col-lg-6">
            <mat-form-field appearance="outline">
                <mat-label>Select District</mat-label>
                <mat-select>
                    <mat-option value="one">TEZPUR</mat-option>
                    <mat-option value="two">NORTH LAKHIMPUR</mat-option>
                    </mat-select>
                </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Enter Pincode</mat-label>
                <input matInput [(ngModel)]="aplElecSub" name="applicant">
                </mat-form-field>
        </div>
    </div>
    <h2>Details of Academic Qualification</h2>
    <div class="row">
        <div class="col-sm">
            <mat-label>Class 12th/HS</mat-label>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Name of board/university</mat-label>
                <input matInput [(ngModel)]="aplElecSub" name="applicant">
                </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Enter Year of Passing</mat-label>
                <input matInput [(ngModel)]="aplElecSub" name="applicant">
                </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Enter Toltal Marks/CGPA</mat-label>
                <input matInput [(ngModel)]="aplElecSub" name="applicant">
                </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Enter your obtained Marks/CGPA </mat-label>
                <input matInput [(ngModel)]="aplElecSub" name="applicant">
                </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Enter % of marks </mat-label>
                <input matInput [(ngModel)]="aplElecSub" name="applicant">
                </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Roll No of 12th/HS Exam</mat-label>
                <input matInput [(ngModel)]="aplElecSub" name="applicant">
                </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Enter Registaration Number of 12th Examination</mat-label>
                <input matInput [(ngModel)]="aplElecSub" name="applicant">
                </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Enter Name of School/College/Institute</mat-label>
                <input matInput [(ngModel)]="aplElecSub" name="applicant">
                </mat-form-field>
        </div>
    </div>
    <h2>HS Examination marks details</h2>
    <div class="row">
        <div class="col-sm">
            <mat-label>English</mat-label> 
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Select MIL Language</mat-label>
                <mat-select>
                    <mat-option value="one">ONE</mat-option>
                    <mat-option value="two">TWO</mat-option>
                    </mat-select>
                </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Name of Elective Subject 1</mat-label>
                <input matInput [(ngModel)]="aplElecSub" name="applicant">
                </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Name of Elective Subject 2</mat-label>
                <input matInput [(ngModel)]="aplElecSub" name="applicant">
                </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Name of Elective Subject 3</mat-label>
                <input matInput [(ngModel)]="aplElecSub" name="applicant">
                </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Name of Elective Subject 4</mat-label>
                <input matInput [(ngModel)]="aplElecSub" name="applicant">
                </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>>Marks secured in English</mat-label>
                <input matInput [(ngModel)]="aplElecSub" name="applicant">
                </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Marks secured in MIL Language</mat-label>
                <input matInput [(ngModel)]="aplElecSub" name="applicant">
                </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Marks secured in Elective Subject 1</mat-label>
                <input matInput [(ngModel)]="aplElecSub" name="applicant">
                </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Marks secured in Elective Subject 2</mat-label>
                <input matInput [(ngModel)]="aplElecSub" name="applicant">
                </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Marks secured in Elective Subject 3</mat-label>
                <input matInput [(ngModel)]="aplElecSub" name="applicant">
                </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Marks secured in Elective Subject 4</mat-label>
                <input matInput [(ngModel)]="aplElecSub" name="applicant">
                </mat-form-field>
        </div>
    </div>
    <h2>Others</h2>
    <h4>Extra Curricular Activities</h4>
    <div class="row">
        <mat-form-field appearance="fill">
            <mat-label>Enter Extra Curricular Activities</mat-label>
            <textarea matInput></textarea>
        </mat-form-field>
    </div>
    <h4>Bank Account details</h4>
    <div class="row">
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Enter Bank A/c Holders Name</mat-label>
                <input matInput [(ngModel)]="aplElecSub" name="applicant">
                </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Enter Bank A/c Number</mat-label>
                <input matInput [(ngModel)]="aplElecSub" name="applicant">
                </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Confirm Bank A/c Number</mat-label>
                <input matInput [(ngModel)]="aplElecSub" name="applicant">
                </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Enter Bank Name</mat-label>
                <input matInput [(ngModel)]="aplElecSub" name="applicant">
                </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Enter Branch Name</mat-label>
                <input matInput [(ngModel)]="aplElecSub" name="applicant">
                </mat-form-field>
        </div>
        <div class="col-sm">
            <mat-form-field appearance="outline">
                <mat-label>Enter branch IFSC Code</mat-label>
                <input matInput [(ngModel)]="aplElecSub" name="applicant">
                </mat-form-field>
        </div>
    </div>
    <mat-card-actions>
        <button mat-raised-button="" color="primary">Save</button>
        </mat-card-actions>
    </form>
</div>