:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
/* .container {
  background-color:slategray;
} */
.container-fluid{
  overflow: hidden;
  /* margin-top: 40%;
  margin-bottom: 10pc; */
  /* width: 108pc;
  height: 100pc; */
  }