<div class="container">
<div class="row">
    <div class="col-sm">
        <a [routerLink]="['/registration1']" routerLinkActive="router-link-active">Registration1</a>
    </div>

    <div class="col-sm">
        <a [routerLink]="['/registration2']" routerLinkActive="router-link-active" >Registration2</a>
    </div>

    <div class="col-sm">
        <a [routerLink]="['/registeredList']" routerLinkActive="router-link-active" >Applicants</a>
    </div>
    <div class="col-sm">
        <a [routerLink]="['/registeredList/docs']" routerLinkActive="router-link-active">ApplicantDocs</a>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <a [routerLink]="['/registeredList/courses']">Add Course</a>
    </div>

    <div class="col-sm">
        <a [routerLink]="['/registeredList/subjects']">Add Subjects</a>
    </div>

    <div class="col-sm">
        <a href="#">Some Link</a>
    </div>
    <div class="col-sm">
        <a href="#">Some Link</a>
    </div>
</div>
</div>




<!-- <app-registration></app-registration> -->
<!-- <app-applicantlist></app-applicantlist> -->
<!-- <app-applicantdetails></app-applicantdetails>
<app-registration-image-handler></app-registration-image-handler> -->
<router-outlet></router-outlet>
<!-- <router-outlet></router-outlet> -->