<div class="signin-content">
    <mat-card>
        <mat-card-header>
            <mat-card-title><fa-icon [icon]="faLock" class="fa-3x"></fa-icon></mat-card-title>
            <mat-card-subtitle> 
                Welcome to Admisssion Portal
            </mat-card-subtitle>
        </mat-card-header>
      <mat-card-content>
        <form [formGroup]="loginForm" >
          <p>Please login to continue</p>
          <div class="form-group">
            <input type="email" class="form-control" matInput type="email" id="email" placeholder="Email"  formControlName="email" name="email" required>
          </div>
          <br/>
          <div class="form-group">
            <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password" name="password" required>
          </div>
        </form>
        <br/>
        <!-- <button mat-raised-button color="primary" type="submit">Login</button> -->
        <button mat-raised-button color="primary" (click)="login()">Login</button>
      </mat-card-content>
      <mat-card-actions>
        <small><a routerLink="../forgot-password">Forgot Password</a></small>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <small><a routerLink="../student-registration">Register</a></small>
        <!-- <button type="submit" class="btn btn-primary">Sign in</button> -->
      </mat-card-actions>
    </mat-card>
  </div>
<!-- <p>login works!</p> -->
